<div class="input">

    <form>
        <mat-form-field class="example-full-width" style="margin-right: 10px;">
            <mat-label>N° de afiliado benecifiario</mat-label>
            <input matInput placeholder="123456" formControlName="numAfiliado">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Elegir una fecha</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary" style="margin-right: 10px; margin-left: 10px;"
        (click)="getFilteredData()">Traer datos de la fecha</button>
    <button mat-raised-button color="primary" (click)="downloadPdf()">Descargar pdf</button>
</div>
    <div>
        <form>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z3">
                <ng-container matColumnDef="nameAfiliado">
                    <th class="background-header" mat-header-cell *matHeaderCellDef> Paciente </th>
                    <td mat-cell *matCellDef="let element"> {{element.nameAfiliado}} </td>
                </ng-container>

                <ng-container matColumnDef="cantOrdenes">
                    <th class="background-header" mat-header-cell *matHeaderCellDef> Analisis realizados </th>
                    <td mat-cell *matCellDef="let element"> {{element.cantOrdenes}} </td>
                </ng-container>
                <ng-container matColumnDef="monto">
                    <th class="background-header" mat-header-cell *matHeaderCellDef> Monto </th>
                    <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th class="background-header" mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element"><button mat-mini-fab color="warn"
                            aria-label="Example icon button with a delete icon" (click)="(acciones)">
                            <mat-icon>delete</mat-icon> </button>
                        <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon"
                            (click)="(acciones)" style="margin-left: 5px;">
                            <mat-icon>edit</mat-icon> </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </form>
    </div>
