<mat-card class="container-card" *ngIf="ready">
  <mat-card-title style="background-color: rgb(38, 66, 125); display: flex; justify-content: center; align-items: center;">
    <img src="/assets/mi_proyecto.png" width="50px" height="50px" alt="Logo">
    <h1 style="color: white; margin-bottom: 0px !important;">Facturacion Laboratorio
      Rada </h1>
  </mat-card-title>
  <mat-tab-group>
    <mat-tab label="Resumen mensual"><app-resumen></app-resumen></mat-tab>
    <mat-tab label="Cargar datos"> <app-facturas></app-facturas> </mat-tab>
    <mat-tab label="Resumen facturacion paciente"> <app-resumen-facturacion-paciente></app-resumen-facturacion-paciente></mat-tab>
  </mat-tab-group>
</mat-card>
<router-outlet></router-outlet>