table {
    width: 100%;
  }

  .input {
    margin-top: 25px !important;
    display: flex;
    justify-content: center;
  }

  .container-card {
    margin: auto;
    max-width: 1200px !important;
}