table {
  width: 100%;
}

.input {
  margin-top: 25px !important;
  display: flex;
  justify-content: center;
}

.background-header {
  background-color: rgb(38, 66, 125) !important;
  color: white;
}


.tablaPdf {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

.chikeTd, .chikeTh {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;  
  line-height: 15px;
}
