.container{
    display: flex;
    justify-content: center;
}
.example-full-width{
    margin: 4px;
}

.container-card{
    margin: auto;
    max-width: 1000px !important;
}


.test:hover{
    background-color: red !important;
}

// h1{
//     font-family: 'Raleway', sans-serif;
// }