.container {
    display: flex;
    justify-content: center;
}

.example-full-width {
    margin: 4px;
}

.container-card {
    margin: auto;
    max-width: 1000px !important;
}

.disabledButton {
    background-color: rgb(33, 56, 107) !important;
}
