.container {
    display: flex;
    justify-content: center;
}

.example-full-width {
    margin: 4px;
}

.container-card {
    margin: auto;
    max-width: 1200px !important;
}

.disabledButton {
    background-color: rgb(38, 66, 125) !important;

}
